Repository dapr/dotnet-sdk, pull requests merged in 2024-10, with the labels that each got.

#1353 Added fix to handle null return values
  src/Dapr.Client/DaprClientGrpc.cs
  src/Dapr.Client/DaprMetadata.cs
Labels: area/client

#1355 Test: Validate method invocation with extraneous headers
  test/Dapr.Client.Test/DaprClientTest.InvokeMethodAsync.cs
  test/Shared/TestClient.cs
Labels: area/test/unit

#1362 Removed deprecated Workflow methods and types from DaprClient and tests
  examples/Actor/ActorClient/Program.cs
  examples/Actor/DemoActor/BankService.cs
  examples/Actor/DemoActor/DemoActor.cs
  examples/Actor/DemoActor/Program.cs
  examples/Actor/DemoActor/Startup.cs
  examples/Actor/IDemoActor/IBankActor.cs
  examples/Actor/IDemoActor/IDemoActor.cs
  examples/AspNetCore/ControllerSample/CustomTopicAttribute.cs
  examples/AspNetCore/ControllerSample/Startup.cs
  examples/AspNetCore/GrpcServiceSample/Services/BankingService.cs
  examples/AspNetCore/GrpcServiceSample/Startup.cs
  examples/Client/ConfigurationApi/Startup.cs
  examples/Client/Cryptography/Program.cs
  examples/Client/DistributedLock/Startup.cs
  examples/Workflow/WorkflowConsoleApp/Activities/ProcessPaymentActivity.cs
  examples/Workflow/WorkflowConsoleApp/Activities/RequestApprovalActivity.cs
  examples/Workflow/WorkflowConsoleApp/Activities/ReserveInventoryActivity.cs
  examples/Workflow/WorkflowConsoleApp/Activities/UpdateInventoryActivity.cs
  examples/Workflow/WorkflowConsoleApp/Models.cs
  examples/Workflow/WorkflowConsoleApp/Program.cs
  examples/Workflow/WorkflowConsoleApp/Workflows/OrderProcessingWorkflow.cs
  examples/Workflow/WorkflowUnitTest/OrderProcessingTests.cs
  src/Dapr.Client/DaprClient.cs
  src/Dapr.Client/DaprClientGrpc.cs
  src/Dapr.Client/GetWorkflowResponse.cs
  src/Dapr.Client/WorkflowFailureDetails.cs
  src/Dapr.Workflow/WorkflowRuntimeStatus.cs
  test/Dapr.E2E.Test/Workflows/WorkflowTest.cs
Labels: area/workflow

#1319 Adding instance-based CreateInvokableHttpClient
  src/Dapr.Client/DaprClient.cs
  src/Dapr.Client/DaprClientGrpc.cs
  test/Dapr.Client.Test/DaprClientTest.CreateInvokableHttpClientTest.cs
Labels: area/client

#1366 Fixed security advisory updates across dependencies (transitive and direct)
  Directory.Packages.props
  examples/AspNetCore/GrpcServiceSample/GrpcServiceSample.csproj
  examples/Client/PublishSubscribe/BulkPublishEventExample/BulkPublishEventExample.csproj
  examples/Client/PublishSubscribe/PublishEventExample/PublishEventExample.csproj
  examples/Client/ServiceInvocation/ServiceInvocation.csproj
  examples/Client/StateManagement/StateManagement.csproj
  examples/Workflow/WorkflowUnitTest/WorkflowUnitTest.csproj
  properties/dapr_managed_netcore.props
  src/Dapr.Actors.Generators/Dapr.Actors.Generators.csproj
  src/Dapr.Actors/Dapr.Actors.csproj
  src/Dapr.Client/Dapr.Client.csproj
  src/Dapr.Extensions.Configuration/Dapr.Extensions.Configuration.csproj
  src/Dapr.Workflow/Dapr.Workflow.csproj
  src/Directory.Build.props
  test/Dapr.Actors.AspNetCore.IntegrationTest/Dapr.Actors.AspNetCore.IntegrationTest.csproj
  test/Dapr.Actors.AspNetCore.Test/Dapr.Actors.AspNetCore.Test.csproj
  test/Dapr.Actors.Generators.Test/CSharpSourceGeneratorVerifier.cs
  test/Dapr.Actors.Generators.Test/Dapr.Actors.Generators.Test.csproj
  test/Dapr.Actors.Test/Dapr.Actors.Test.csproj
  test/Dapr.AspNetCore.IntegrationTest/Dapr.AspNetCore.IntegrationTest.csproj
  test/Dapr.AspNetCore.Test/Dapr.AspNetCore.Test.csproj
  test/Dapr.Client.Test/Dapr.Client.Test.csproj
  test/Dapr.Client.Test/DaprClientTest.InvokeMethodGrpcAsync.cs
  test/Dapr.Client.Test/StateApiTest.cs
  test/Dapr.E2E.Test.Actors.Generators/Dapr.E2E.Test.Actors.Generators.csproj
  test/Dapr.E2E.Test.App.Grpc/Dapr.E2E.Test.App.Grpc.csproj
  test/Dapr.E2E.Test.App/Dapr.E2E.Test.App.csproj
  test/Dapr.E2E.Test/Dapr.E2E.Test.csproj
  test/Dapr.Extensions.Configuration.Test/Dapr.Extensions.Configuration.Test.csproj
  test/Directory.Build.props
Labels: area/client, technical debt

#1365 Removes floating classes and introduces Dapr.Common project
  Directory.Packages.props
  all.sln
  examples/Client/ConfigurationApi/ConfigurationApi.csproj
  examples/Client/DistributedLock/DistributedLock.csproj
  src/Dapr.Actors/Dapr.Actors.csproj
  src/Dapr.AspNetCore/Dapr.AspNetCore.csproj
  src/Dapr.Client/Dapr.Client.csproj
  src/Dapr.Common/ArgumentVerifier.cs
  src/Dapr.Common/AssemblyInfo.cs
  src/Dapr.Common/Dapr.Common.csproj
  src/Dapr.Common/DaprDefaults.cs
  src/Dapr.Common/DaprException.cs
  src/Dapr.Extensions.Configuration/Dapr.Extensions.Configuration.csproj
  src/Dapr.Workflow/Dapr.Workflow.csproj
  test/Dapr.AspNetCore.IntegrationTest/Dapr.AspNetCore.IntegrationTest.csproj
  test/Dapr.Client.Test/Dapr.Client.Test.csproj
  test/Dapr.Extensions.Configuration.Test/Dapr.Extensions.Configuration.Test.csproj
  test/Dapr.Extensions.Configuration.Test/DaprSecretStoreConfigurationProviderTest.cs
Labels: area/client, technical debt

#1367 Extracted Protos out to common project
  all.sln
  examples/AspNetCore/GrpcServiceSample/GrpcServiceSample.csproj
  src/Dapr.Client/Dapr.Client.csproj
  src/Dapr.Protos/Dapr.Protos.csproj
  src/Dapr.Protos/Protos/dapr/proto/common/v1/common.proto
  src/Dapr.Protos/Protos/dapr/proto/runtime/v1/appcallback.proto
  src/Dapr.Protos/Protos/dapr/proto/runtime/v1/dapr.proto
  test/Dapr.AspNetCore.IntegrationTest/Dapr.AspNetCore.IntegrationTest.csproj
  test/Dapr.AspNetCore.Test/Dapr.AspNetCore.Test.csproj
  test/Dapr.Client.Test/Dapr.Client.Test.csproj
  test/Dapr.Extensions.Configuration.Test/Dapr.Extensions.Configuration.Test.csproj
Labels: area/client, technical debt

#1153 Support case insensitive cloudevent payloads and forward cloudevent props s headers
  examples/AspNetCore/ControllerSample/Controllers/SampleController.cs
  examples/AspNetCore/ControllerSample/Startup.cs
  src/Dapr.AspNetCore/CloudEventPropertyNames.cs
  src/Dapr.AspNetCore/CloudEventsMiddleware.cs
  src/Dapr.AspNetCore/CloudEventsMiddlewareOptions.cs
  test/Dapr.AspNetCore.Test/CloudEventsMiddlewareTest.cs
Labels: area/client/pubsub

#1371 Updating actor serialization documentation
  daprdocs/content/en/dotnet-sdk-docs/dotnet-actors/dotnet-actors-serialization.md
Labels: documentation, area/actor

#1363 Prioritize retrieval of environment variables from IConfiguration instead of directly
  Directory.Packages.props
  all.sln
  global.json
  src/Dapr.Actors.AspNetCore/ActorsServiceCollectionExtensions.cs
  src/Dapr.Actors.AspNetCore/Dapr.Actors.AspNetCore.csproj
  src/Dapr.Actors/Client/ActorProxyOptions.cs
  src/Dapr.Actors/Dapr.Actors.csproj
  src/Dapr.Actors/Runtime/ActorRuntimeOptions.cs
  src/Dapr.AspNetCore/DaprAuthenticationOptions.cs
  src/Dapr.AspNetCore/DaprServiceCollectionExtensions.cs
  src/Dapr.Client/DaprClient.cs
  src/Dapr.Client/DaprClientBuilder.cs
  src/Dapr.Client/InvocationHandler.cs
  src/Dapr.Common/Dapr.Common.csproj
  src/Dapr.Common/DaprDefaults.cs
  src/Dapr.Workflow/DaprWorkflowClientBuilderFactory.cs
  src/Dapr.Workflow/WorkflowServiceCollectionExtensions.cs
  test/Dapr.Actors.Generators.Test/Dapr.Actors.Generators.Test.csproj
  test/Dapr.AspNetCore.Test/DaprServiceCollectionExtensionsTest.cs
  test/Dapr.Common.Test/Dapr.Common.Test.csproj
  test/Dapr.Common.Test/DaprDefaultTest.cs
Labels: area/client

#1375 cleanup: Remove sample folder
  all.sln
  samples/Client/README.md
Labels: area/client

#1334 Incremental source generator for actors
  Directory.Packages.props
  examples/GeneratedActor/ActorClient/ActorClient.csproj
  examples/GeneratedActor/ActorClient/IClientActor.cs
  src/Dapr.Actors.Generators/ActorClientGenerator.cs
  src/Dapr.Actors.Generators/AnalyzerReleases.Shipped.md
  src/Dapr.Actors.Generators/AnalyzerReleases.Unshipped.md
  src/Dapr.Actors.Generators/Constants.cs
  src/Dapr.Actors.Generators/Dapr.Actors.Generators.csproj
  src/Dapr.Actors.Generators/Diagnostics/CancellationTokensMustBeTheLastArgument.cs
  src/Dapr.Actors.Generators/Diagnostics/MethodMustOnlyHaveASingleArgumentOptionallyFollowedByACancellationToken.cs
  src/Dapr.Actors.Generators/DiagnosticsException.cs
  src/Dapr.Actors.Generators/Extensions/IEnumerableExtensions.cs
  src/Dapr.Actors.Generators/Helpers/SyntaxFactoryHelpers.cs
  src/Dapr.Actors.Generators/Models/ActorClientDescriptor.cs
  src/Dapr.Actors.Generators/Properties/launchSettings.json
  src/Dapr.Actors.Generators/Templates.cs
  test/Dapr.Actors.Generators.Test/ActorClientGeneratorTests.cs
  test/Dapr.Actors.Generators.Test/CSharpSourceGeneratorVerifier.cs
  test/Dapr.Actors.Generators.Test/Dapr.Actors.Generators.Test.csproj
  test/Dapr.Actors.Generators.Test/Extensions/IEnumerableExtensionsTests.cs
  test/Dapr.Actors.Generators.Test/Helpers/SyntaxFactoryHelpersTests.cs
Labels: kind/enhancement, area/actor
