Repository dapr/dotnet-sdk, pull requests merged in 2024-12, with the labels that each got.

#1343 Bug/476 multiple methods per interface with JSON serialization doesn´t work
  .devcontainer/devcontainer.json
  .devcontainer/localinit.sh
  src/Dapr.Actors/Communication/ActorMessageBodyJsonSerializationProvider.cs
  src/Dapr.Actors/Communication/ActorMessageSerializersManager.cs
  src/Dapr.Actors/DaprHttpInteractor.cs
  src/Dapr.Actors/Runtime/ActorManager.cs
  test/Dapr.E2E.Test.Actors/ISerializationActor.cs
  test/Dapr.E2E.Test.App/Actors/SerializationActor.cs
  test/Dapr.E2E.Test/Actors/E2ETests.CustomSerializerTests.cs
  test/Dapr.E2E.Test/DaprCommand.cs
Labels: area/actor/client

#1404 Support .NET 9
  .github/workflows/itests.yml
  .github/workflows/sdk_build.yml
  all.sln
  daprdocs/content/en/dotnet-sdk-docs/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-actors/dotnet-actors-howto.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-jobs/dotnet-jobs-howto.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-workflow/dotnet-workflow-howto.md
  global.json
  src/Dapr.Common/Dapr.Common.csproj
  src/Dapr.Jobs/Dapr.Jobs.csproj
  src/Dapr.Jobs/Models/DaprJobSchedule.cs
  src/Dapr.Protos/Dapr.Protos.csproj
  src/Dapr.Workflow/Dapr.Workflow.csproj
  src/Directory.Build.props
  test/Dapr.Actors.Generators.Test/CSharpSourceGeneratorVerifier.cs
  test/Dapr.AspNetCore.IntegrationTest/CloudEventsIntegrationTest.cs
  test/Dapr.AspNetCore.IntegrationTest/Dapr.AspNetCore.IntegrationTest.csproj
  test/Dapr.AspNetCore.Test/CloudEventsMiddlewareTest.cs
  test/Dapr.Client.Test/DaprClientTest.cs
  test/Dapr.E2E.Test/DaprTestApp.cs
  test/Directory.Build.props
Labels: area/client, area/release-eng

#1418 [docs] Update Workflow to stable
  daprdocs/content/en/dotnet-sdk-docs/dotnet-workflow/dotnet-workflow-howto.md
Labels: documentation, area/workflow

#1419 FIX: Actor source generator generates invalid code for generic interfaces
  examples/GeneratedActor/ActorClient/IGenericClientActor.cs
  src/Dapr.Actors.Generators/ActorClientGenerator.cs
  test/Dapr.Actors.Generators.Test/ActorClientGeneratorTests.cs
Labels: area/actor/client

#1420 Updated protos to latest in dapr/dapr
  src/Dapr.Protos/Protos/dapr/proto/runtime/v1/dapr.proto
Labels: release-blocker, area/client

#1423 Conversation builder consistency changes
  examples/AI/ConversationalAI/Program.cs
  src/Dapr.AI/Conversation/Extensions/DaprAiConversationBuilderExtensions.cs
  test/Dapr.AI.Test/Conversation/Extensions/DaprAiConversationBuilderExtensionsTest.cs
  test/Dapr.Jobs.Test/Extensions/DaprJobsServiceCollectionExtensionsTests.cs
Labels: area/client/ai

#1415 Fixes + unit tests for streaming PubSub implementation
  src/Dapr.Messaging/AssemblyInfo.cs
  src/Dapr.Messaging/PublishSubscribe/DaprPublishSubscribeGrpcClient.cs
  src/Dapr.Messaging/PublishSubscribe/PublishSubscribeReceiver.cs
  test/Dapr.Messaging.Test/Dapr.Messaging.Test.csproj
  test/Dapr.Messaging.Test/Extensions/PublishSubscribeServiceCollectionExtensionsTests.cs
  test/Dapr.Messaging.Test/PublishSubscribe/MessageHandlingPolicyTest.cs
  test/Dapr.Messaging.Test/PublishSubscribe/PublishSubscribeReceiverTests.cs
Labels: P0, release-blocker, area/client/pubsub

#1409 Updating Dapr .NET SDK documentation
  daprdocs/content/en/dotnet-sdk-contributing/dotnet-contributing.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-ai/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-ai/dotnet-ai-conversation-howto.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-ai/dotnet-ai-conversation-usage.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-ai/dotnet-ai-usage.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-client/dotnet-daprclient-usage.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-development/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-development/dotnet-development-dapr-aspire.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-development/dotnet-development-docker-compose.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-development/dotnet-development-tye.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-jobs/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-jobs/dotnet-jobs-howto.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-jobs/dotnet-jobsclient-usage.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-messaging/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-messaging/dotnet-messaging-pubsub-howto.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-messaging/dotnet-messaging-pubsub-usage.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-troubleshooting/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-workflow/dotnet-workflow-howto.md
Labels: documentation

#1434 Adds workflow replay-safe logger
  daprdocs/content/en/dotnet-sdk-docs/dotnet-workflow/dotnet-workflowclient-usage.md
  examples/Workflow/WorkflowConsoleApp/Workflows/OrderProcessingWorkflow.cs
  src/Dapr.Workflow/DaprWorkflowContext.cs
  src/Dapr.Workflow/IWorkflowContext.cs
  src/Dapr.Workflow/WorkflowContext.cs
  src/Dapr.Workflow/WorkflowEngineClient.cs
  src/Dapr.Workflow/WorkflowLoggingService.cs
  src/Dapr.Workflow/WorkflowServiceCollectionExtensions.cs
Labels: area/workflow

#1436 Support gRPC richer error model
  daprdocs/content/en/dotnet-sdk-docs/dotnet-error-handling/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-error-handling/dotnet-richer-error-model.md
  src/Dapr.Common/Dapr.Common.csproj
  src/Dapr.Common/Exceptions/DaprExceptionExtensions.cs
  src/Dapr.Common/Exceptions/DaprExtendedErrorConstants.cs
  src/Dapr.Common/Exceptions/DaprExtendedErrorDetail.cs
  src/Dapr.Common/Exceptions/DaprExtendedErrorInfo.cs
  src/Dapr.Common/Exceptions/DaprExtendedErrorType.cs
  src/Dapr.Common/Exceptions/ExtendedErrorDetailFactory.cs
  test/Dapr.Common.Test/DaprExtendedErrorInfoTest.cs
Labels: area/client
