Repository dapr/dotnet-sdk, pull requests merged in 2024-11, with the labels that each got.

#1384 Add .NET client for Dapr Jobs API
  Directory.Packages.props
  all.sln
  daprdocs/content/en/dotnet-sdk-docs/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-jobs/_index.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-jobs/dotnet-jobs-howto.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-jobs/dotnet-jobsclient-usage.md
  examples/Jobs/JobsSample/JobsSample.csproj
  examples/Jobs/JobsSample/Program.cs
  examples/Jobs/JobsSample/Properties/launchSettings.json
  src/Dapr.Common/AssemblyInfo.cs
  src/Dapr.Common/DaprDefaults.cs
  src/Dapr.Common/DaprGenericClientBuilder.cs
  src/Dapr.Common/Extensions/EnumExtensions.cs
  src/Dapr.Jobs/AssemblyInfo.cs
  src/Dapr.Jobs/CronExpressionBuilder.cs
  src/Dapr.Jobs/Dapr.Jobs.csproj
  src/Dapr.Jobs/DaprJobsClient.cs
  src/Dapr.Jobs/DaprJobsClientBuilder.cs
  src/Dapr.Jobs/DaprJobsGrpcClient.cs
  src/Dapr.Jobs/Extensions/DaprJobsServiceCollectionExtensions.cs
  src/Dapr.Jobs/Extensions/DaprSerializationExtensions.cs
  src/Dapr.Jobs/Extensions/EndpointRouteBuilderExtensions.cs
  src/Dapr.Jobs/Extensions/StringExtensions.cs
  src/Dapr.Jobs/Extensions/TimeSpanExtensions.cs
  src/Dapr.Jobs/JsonConverters/DaprJobScheduleConverter.cs
  src/Dapr.Jobs/JsonConverters/Iso8601DateTimeJsonConverter.cs
  src/Dapr.Jobs/Models/DaprJobSchedule.cs
  src/Dapr.Jobs/Models/Responses/DaprJobDetails.cs
  test/Dapr.Common.Test/Extensions/EnumExtensionsTest.cs
  test/Dapr.Jobs.Test/CronExpressionBuilderTests.cs
  test/Dapr.Jobs.Test/Dapr.Jobs.Test.csproj
  test/Dapr.Jobs.Test/DaprJobsClientBuilderTests.cs
  test/Dapr.Jobs.Test/DaprJobsGrpcClientTests.cs
  test/Dapr.Jobs.Test/Extensions/DaprJobsServiceCollectionExtensionsTests.cs
  test/Dapr.Jobs.Test/Extensions/EndpointRouteBuilderExtensionsTests.cs
  test/Dapr.Jobs.Test/Extensions/StringExtensionsTests.cs
  test/Dapr.Jobs.Test/Extensions/TimeSpanExtensionsTests.cs
  test/Dapr.Jobs.Test/Models/DaprJobScheduleTests.cs
  test/Dapr.Jobs.Test/Responses/DaprJobDetailsTests.cs
Labels: kind/enhancement, area/client/scheduler

#1398 Updated prereqs to specify .NET 6 and .NET 8 in v1.15
  daprdocs/content/en/dotnet-sdk-docs/_index.md
Labels: documentation

#1244 Added option to override GrpcChannelOptions when adding DaprWorkflow (#7218)
  src/Dapr.Workflow/DaprWorkflowClientBuilderFactory.cs
  src/Dapr.Workflow/WorkflowRuntimeOptions.cs
  test/Dapr.E2E.Test.App/Startup.cs
  test/Dapr.E2E.Test/DaprTestApp.cs
Labels: area/workflow

#1386 Fix for DI registration not completing as expected
  src/Dapr.Workflow/DaprWorkflowClientBuilderFactory.cs
  src/Dapr.Workflow/WorkflowServiceCollectionExtensions.cs
Labels: P0, area/workflow

#1381 Add .NET client for pub/sub support - streaming subscriptions
  Directory.Packages.props
  all.sln
  examples/Client/PublishSubscribe/StreamingSubscriptionExample/Program.cs
  examples/Client/PublishSubscribe/StreamingSubscriptionExample/StreamingSubscriptionExample.csproj
  src/Dapr.Messaging/Dapr.Messaging.csproj
  src/Dapr.Messaging/PublishSubscribe/DaprPublishSubscribeClient.cs
  src/Dapr.Messaging/PublishSubscribe/DaprPublishSubscribeClientBuilder.cs
  src/Dapr.Messaging/PublishSubscribe/DaprPublishSubscribeGrpcClient.cs
  src/Dapr.Messaging/PublishSubscribe/DaprSubscriptionOptions.cs
  src/Dapr.Messaging/PublishSubscribe/Extensions/PublishSubscribeServiceCollectionExtensions.cs
  src/Dapr.Messaging/PublishSubscribe/MessageHandlingPolicy.cs
  src/Dapr.Messaging/PublishSubscribe/PublishSubscribeReceiver.cs
  src/Dapr.Messaging/PublishSubscribe/TopicMessage.cs
  src/Dapr.Messaging/PublishSubscribe/TopicMessageHandler.cs
  src/Dapr.Messaging/PublishSubscribe/TopicResponseAction.cs
  test/Dapr.Common.Test/DaprGenericClientBuilderTest.cs
  test/Dapr.Messaging.Test/Dapr.Messaging.Test.csproj
  test/Dapr.Messaging.Test/PublishSubscribe/MessageHandlingPolicyTest.cs
  test/Dapr.Messaging.Test/protos/test.proto
Labels: kind/enhancement, area/client

#1394 Added workflow sample: Async operations
  Directory.Packages.props
  all.sln
  examples/Workflow/WorkflowAsyncOperations/Activities/NotifyWarehouseActivity.cs
  examples/Workflow/WorkflowAsyncOperations/Activities/ProcessPaymentActivity.cs
  examples/Workflow/WorkflowAsyncOperations/Models/Transaction.cs
  examples/Workflow/WorkflowAsyncOperations/Program.cs
  examples/Workflow/WorkflowAsyncOperations/WorkflowAsyncOperations.csproj
  examples/Workflow/WorkflowAsyncOperations/Workflows/DemoWorkflow.cs
Labels: sample, area/workflow

#1396 Added workflow example: Fan out/fan in
  all.sln
  examples/Workflow/WorkflowFanOutFanIn/Activities/NotifyActivity.cs
  examples/Workflow/WorkflowFanOutFanIn/Program.cs
  examples/Workflow/WorkflowFanOutFanIn/WorkflowFanOutFanIn.csproj
  examples/Workflow/WorkflowFanOutFanIn/Workflows/DemoWorkflow.cs
Labels: sample, area/workflow

#1395 Added workflow sample: Sub-workflows
  all.sln
  examples/Workflow/WorkflowSubworkflow/Program.cs
  examples/Workflow/WorkflowSubworkflow/WorkflowSubworkflow.csproj
  examples/Workflow/WorkflowSubworkflow/Workflows/DemoSubWorkflow.cs
  examples/Workflow/WorkflowSubworkflow/Workflows/DemoWorkflow.cs
Labels: sample, area/workflow

#1388 Added workflow sample: Monitor
  all.sln
  examples/Workflow/WorkflowMonitor/Activities/CheckStatus.cs
  examples/Workflow/WorkflowMonitor/Program.cs
  examples/Workflow/WorkflowMonitor/WorkflowMonitor.csproj
  examples/Workflow/WorkflowMonitor/Workflows/DemoWorkflow.cs
Labels: sample, area/workflow

#1410 Additional lifecycle registration changes
  src/Dapr.Actors.AspNetCore/ActorsServiceCollectionExtensions.cs
  src/Dapr.Jobs/Extensions/DaprJobsServiceCollectionExtensions.cs
  src/Dapr.Messaging/PublishSubscribe/Extensions/PublishSubscribeServiceCollectionExtensions.cs
  test/Dapr.Actors.AspNetCore.Test/DaprActorServiceCollectionExtensionsTest.cs
  test/Dapr.AspNetCore.Test/DaprServiceCollectionExtensionsTest.cs
  test/Dapr.Jobs.Test/Extensions/DaprJobsServiceCollectionExtensionsTests.cs
  test/Dapr.Messaging.Test/Extensions/PublishSubscribeServiceCollectionExtensionsTests.cs
Labels: area/client

#935 preserve comparer of the original dictionary
  src/Dapr.Extensions.Configuration/DaprConfigurationStoreProvider.cs
Labels: breaking-change, area/client/configuration
