Repository dapr/dotnet-sdk, pull requests merged in 2025-06, with the labels that each got.

#1549 DurableTask protos update - version bump
  Directory.Packages.props
Labels: kind/bug, P0, area/workflow

#1555 Update dotnet-development-dapr-aspire.md
  daprdocs/content/en/dotnet-sdk-docs/dotnet-development/dotnet-development-dapr-aspire.md
Labels: documentation

#1558 Jobs overwrite/failure policy updates
  Directory.Packages.props
  src/Dapr.Extensions.Configuration/DaprConfigurationStoreProvider.cs
  src/Dapr.Extensions.Configuration/DaprSecretStoreConfigurationProvider.cs
  src/Dapr.Jobs/DaprJobsClient.cs
  src/Dapr.Jobs/DaprJobsGrpcClient.cs
  src/Dapr.Jobs/Extensions/DaprSerializationExtensions.cs
  src/Dapr.Jobs/Models/DaprJobSchedule.cs
  src/Dapr.Jobs/Models/IJobFailurePolicyOptions.cs
  src/Dapr.Jobs/Models/JobFailurePolicy.cs
  src/Dapr.Jobs/Models/JobFailurePolicyConstantOptions.cs
  src/Dapr.Jobs/Models/JobFailurePolicyDropOptions.cs
  src/Dapr.Jobs/Models/Responses/DaprJobDetails.cs
  src/Dapr.Protos/Protos/dapr/proto/common/v1/common.proto
  src/Dapr.Protos/Protos/dapr/proto/runtime/v1/dapr.proto
  test/Dapr.Client.Test/StateApiTest.cs
  test/Dapr.Jobs.Test/CronExpressionBuilderTests.cs
  test/Dapr.Jobs.Test/DaprJobsClientBuilderTests.cs
  test/Dapr.Jobs.Test/DaprJobsGrpcClientTests.cs
  test/Dapr.Jobs.Test/Extensions/DaprJobsServiceCollectionExtensionsTests.cs
  test/Dapr.Jobs.Test/Extensions/EndpointRouteBuilderExtensionsTests.cs
  test/Dapr.Jobs.Test/Extensions/StringExtensionsTests.cs
  test/Dapr.Jobs.Test/Extensions/TimeSpanExtensionsTests.cs
  test/Dapr.Jobs.Test/Models/DaprJobScheduleTests.cs
Labels: area/client/jobs

#1564 Replace [Obsolete] with [Experimental] attributes
  daprdocs/content/en/dotnet-sdk-docs/dotnet-development/dotnet-development-experimental-attributes.md
  examples/Client/DistributedLock/Controllers/BindingController.cs
  examples/Directory.Build.props
  src/Dapr.AI/Conversation/DaprConversationClient.cs
  src/Dapr.AI/Conversation/DaprConversationClientBuilder.cs
  src/Dapr.AI/Conversation/DaprConversationGrpcClient.cs
  src/Dapr.AI/Conversation/Extensions/DaprAiConversationBuilderExtensions.cs
  src/Dapr.Client/DaprClient.cs
  src/Dapr.Client/DaprClientGrpc.cs
  src/Dapr.Client/TryLockResponse.cs
  src/Dapr.Cryptography/Encryption/DaprEncryptionClient.cs
  src/Dapr.Cryptography/Encryption/DaprEncryptionClientBuilder.cs
  src/Dapr.Cryptography/Encryption/DaprEncryptionGrpcClient.cs
  src/Dapr.Cryptography/Encryption/Extensions/DaprCryptographyServiceCollectionExtensions.cs
  src/Dapr.Cryptography/Encryption/IDaprEncryptionClient.cs
  src/Dapr.Jobs/DaprJobsClient.cs
  src/Dapr.Jobs/DaprJobsClientBuilder.cs
  src/Dapr.Jobs/DaprJobsGrpcClient.cs
  src/Dapr.Jobs/Extensions/DaprJobsServiceCollectionExtensions.cs
  src/Dapr.Jobs/Extensions/DaprSerializationExtensions.cs
  test/Dapr.Jobs.Analyzer.Test/MapDaprScheduledJobHandlerTest.cs
  test/Directory.Build.props
Labels: kind/enhancement, area/client

#1556 Replace HashSet with ConcurrentDictionary in WorkflowLoggingService
  src/Dapr.Workflow/WorkflowLoggingService.cs
Labels: area/workflow
