Repository dapr/dotnet-sdk, pull requests merged in 2025-04, with the labels that each got.

#1503 Consolidate client registration implementation
  src/Dapr.AI/Conversation/DaprConversationClient.cs
  src/Dapr.AI/Conversation/DaprConversationClientBuilder.cs
  src/Dapr.AI/Conversation/DaprConversationGrpcClient.cs
  src/Dapr.AI/Conversation/Extensions/DaprAiConversationBuilder.cs
  src/Dapr.AI/Conversation/Extensions/DaprAiConversationBuilderExtensions.cs
  src/Dapr.AI/Conversation/Extensions/IDaprAiConversationBuilder.cs
  src/Dapr.AI/DaprAIClient.cs
  src/Dapr.AI/Extensions/IDaprAiServiceBuilder.cs
  src/Dapr.Common/Dapr.Common.csproj
  src/Dapr.Common/DaprGenericClientBuilder.cs
  src/Dapr.Common/Extensions/DaprClientBuilderExtensions.cs
  src/Dapr.Common/IDaprClient.cs
  src/Dapr.Common/IDaprServiceBuilder.cs
  src/Dapr.Jobs/DaprJobsClient.cs
  src/Dapr.Jobs/DaprJobsGrpcClient.cs
  src/Dapr.Jobs/Extensions/DaprJobsBuilder.cs
  src/Dapr.Jobs/Extensions/DaprJobsServiceCollectionExtensions.cs
  src/Dapr.Jobs/IDaprJobsBuilder.cs
  src/Dapr.Messaging/IDaprMessagingBuilder.cs
  src/Dapr.Messaging/PublishSubscribe/DaprPublishSubscribeClient.cs
  src/Dapr.Messaging/PublishSubscribe/DaprPublishSubscribeGrpcClient.cs
  src/Dapr.Messaging/PublishSubscribe/Extensions/DaprPubSubBuilder.cs
  src/Dapr.Messaging/PublishSubscribe/Extensions/PublishSubscribeServiceCollectionExtensions.cs
  src/Dapr.Messaging/PublishSubscribe/IDaprPubSubBuilder.cs
  test/Dapr.AI.Test/Conversation/DaprConversationClientBuilderTest.cs
  test/Dapr.AI.Test/Conversation/Extensions/DaprAiConversationBuilderExtensionsTest.cs
  test/Dapr.Common.Test/Dapr.Common.Test.csproj
  test/Dapr.Common.Test/DaprGenericClientBuilderTest.cs
  test/Dapr.Common.Test/Extensions/DaprClientBuilderExtensionsTests.cs
  test/Dapr.Jobs.Test/Extensions/DaprJobsServiceCollectionExtensionsTests.cs
Labels: kind/enhancement, P0, area/client

#1498 Added text for handling polymorphic deserialization when using System.Text.Json
  daprdocs/content/en/dotnet-sdk-docs/dotnet-actors/dotnet-actors-serialization.md
Labels: documentation, area/client

#1497 [Jobs] Testing GetJobAsync deserialization
  src/Dapr.Jobs/DaprJobsGrpcClient.cs
  test/Dapr.Jobs.Test/DaprJobsGrpcClientTests.cs
Labels: area/client/jobs

#1512 Tentative fix for timers deserializing error
  src/Dapr.Actors/Runtime/ActorManager.cs
  src/Dapr.Actors/Runtime/ConverterUtils.cs
  test/Dapr.Actors.Test/Runtime/ActorManagerTests.cs
Labels: area/actor/client

#1441 Add Roslyn analyzer for actor registration
  Directory.Packages.props
  src/Dapr.Actors.Analyzers/ActorAnalyzer.cs
  src/Dapr.Actors.Analyzers/ActorJsonSerializationCodeFixProvider.cs
  src/Dapr.Actors.Analyzers/ActorRegistrationCodeFixProvider.cs
  src/Dapr.Actors.Analyzers/AnalyzerReleases.Shipped.md
  src/Dapr.Actors.Analyzers/AnalyzerReleases.Unshipped.md
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers.csproj
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/ActorRegistrationAnalyzer.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/ActorRegistrationCodeFixProvider.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/AnalyzerReleases.Shipped.md
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/AssemblyInfo.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers.csproj
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/MappedActorHandlersAnalyzer.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/MappedActorHandlersCodeFixProvider.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/PreferActorJsonSerializationAnalyzer.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/PreferActorJsonSerializationCodeFixProvider.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/Resources.Designer.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/Resources.resx
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/SharedUtilities.cs
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/TimerCallbackMethodPresentAnalyzer.cs
  src/Dapr.Actors.Analyzers/MapActorsHandlersCodeFixProvider.cs
  test/Dapr.Actors.Analyzers.Test/ActorAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Test/ActorJsonSerializationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/ActorRegistrationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/Dapr.Actors.Analyzers.Test.csproj
  test/Dapr.Actors.Analyzers.Test/MapActorsHandlersCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/Utilities.cs
  test/Dapr.Actors.Analyzers.Test/VerifyAnalyzer.cs
  test/Dapr.Actors.Analyzers.Test/VerifyCodeFix.cs
  test/Dapr.Actors.Analyzers.Tests/ActorRegistrationAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Tests/ActorRegistrationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Tests/Dapr.Actors.Analyzers.Tests.csproj
  test/Dapr.Actors.Analyzers.Tests/MappedActorHandlersAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Tests/MappedActorHandlersCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Tests/PreferActorJsonSerializationAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Tests/PreferActorJsonSerializationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Tests/TestUtilities.cs
  test/Dapr.Actors.Analyzers.Tests/TimerCallbackMethodPresentAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Tests/VerifyAnalyzer.cs
  test/Dapr.Actors.Analyzers.Tests/VerifyCodeFix.cs
Labels: kind/enhancement, area/actor, needs-review

#1477 Add a Job Analyzer to check if scheduled jobs have corresponding invocation urls
  all.sln
  examples/Jobs/JobsSample/Program.cs
  src/Dapr.Jobs.Analyzer/AnalyzerReleases.Shipped.md
  src/Dapr.Jobs.Analyzer/AnalyzerReleases.Unshipped.md
  src/Dapr.Jobs.Analyzer/AssemblyInfo.cs
  src/Dapr.Jobs.Analyzer/Dapr.Jobs.Analyzers.csproj
  src/Dapr.Jobs.Analyzer/MapDaprScheduledJobHandlerAnalyzer.cs
  src/Dapr.Jobs.Analyzer/Resources.Designer.cs
  src/Dapr.Jobs.Analyzer/Resources.resx
  test/Dapr.Jobs.Analyzer.Test/Dapr.Jobs.Analyzers.Test.csproj
  test/Dapr.Jobs.Analyzer.Test/MapDaprScheduledJobHandlerTest.cs
Labels: kind/enhancement, area/client/jobs

#1514 Project directory cleanup
  all.sln
  src/Dapr.Actors.Analyzers/Dapr.Actors.Analyzers/AssemblyInfo.cs
  test/Dapr.Actors.Analyzers.Test/ActorAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Test/ActorJsonSerializationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/ActorRegistrationAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Test/ActorRegistrationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/Dapr.Actors.Analyzers.Test.csproj
  test/Dapr.Actors.Analyzers.Test/MapActorsHandlersCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/MappedActorHandlersAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Test/MappedActorHandlersCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/PreferActorJsonSerializationAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Test/PreferActorJsonSerializationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Test/TestUtilities.cs
  test/Dapr.Actors.Analyzers.Test/TimerCallbackMethodPresentAnalyzerTests.cs
  test/Dapr.Actors.Analyzers.Test/Utilities.cs
  test/Dapr.Actors.Analyzers.Test/VerifyAnalyzer.cs
  test/Dapr.Actors.Analyzers.Test/VerifyCodeFix.cs
  test/Dapr.Actors.Analyzers.Tests/ActorRegistrationCodeFixProviderTests.cs
  test/Dapr.Actors.Analyzers.Tests/Dapr.Actors.Analyzers.Tests.csproj
  test/Dapr.Actors.Analyzers.Tests/VerifyAnalyzer.cs
  test/Dapr.Actors.Analyzers.Tests/VerifyCodeFix.cs
Labels: area/actor, area/test

#1437 Attach metadata to each individual message in bulkpublish, if it exists
  src/Dapr.Client/DaprClientGrpc.cs
  test/Dapr.Client.Test/BulkPublishEventApiTest.cs
Labels: kind/bug, area/client/pubsub, needs-review
